body{
margin: auto 0;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}

.btn{
    height: 44px;
    width: 420px;
    text-align: center;
    margin-top:20px;
    cursor: pointer;
    background-color: tomato;
    color: white;
    border:none;
    outline: inherit !important;
    box-shadow: 1px 4px 12px #7c7c7c;
    border-radius: 4px;

}

button:active { 
    background-color: rgb(207, 34, 3);
}

h4{
    color: gray;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Avenir',sans-serif;
    letter-spacing: .1em;
}